<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="lilSumi">
    <title>Create Lesson</title>
</head>
<body>
    <div class="box-content">
        <a href="/teacher/{{subject_id}}/{{groop_id}}">go back</a>
        <form method="post">
            <label for="date">Выберите дату</label><br>
            <input type="date" name="date"><br>
            <button type="submit">send</button>
        </form>
    </div>
</body>
</html>