<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="lilSumi">
    <title>Profile</title>
    <style>
        .box-content input {
            width: 2rem;
        }
    </style>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/profilet.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Quicksand:wght@300;400;500;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="head">
        <div class="main-title">
            <p>E-Journal</p>
        </div>
        <a class="log_out" href="/logout">log out</a>
    </div>
    <div class="hello">
        <div class="hello">
            <p>Здравствуйте, {{name}}</p>
            <p>{{task}}, {{groop}}</p>
        </div>
    </div>
    <div class="main-inf">
        <div class="left-side">
            <div class="left-side1">
                <p>Предметы:</p>
                {% for i in subjects %}
                    <a href="/teacher/{{i[0]}}">{{i[1]}}</a>
                {% endfor %}
            </div>
            <div class="left-side1">
                <p>Классы:</p>
                {% for i in groops %}
                    <a href="/teacher/{{subject_id}}/{{i[0]}}">{{i[1]}}</a>
                {% endfor %}
            </div>
        </div>
        <div class="box-content">
            <form method="post" class="box-content-form">
                <div class="buttons">
                    <button type="submit">Save Changes</button>
                    <a href="/teacher/{{subject_id}}/{{groop_id}}/create">Create Lesson</a>
                </div>
                <table border>
                    <thead>
                        <th>Name</th>
                        {% for i in dates %}
                            <th>{{i[1]}}</th>
                        {% endfor %}
                        <th>Score</th>
                    </thead>
                    <tbody>
                        {% for i in students %}
                            <tr>
                                <td>{{i[1]}}</td>
                                {% for j in dates %}
                                <td class="mks">
                                    <div>
                                        <input class="input-filter" name={{marks[i[0]][j[0]][0]}} type="text" value={{marks[i[0]][j[0]][1]}}>
                                    </div>
                                </td>
                                {% endfor %}
                                <td>{{marks[i[0]][0]}}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </form>
        </div>
    </div>
</body>
</html>